.done-order__icon {
    font-size: 80px;
    color: $orange-color;
}
.done-order__link {
    max-width: 283px;
    width: 100%;
    height: 46px;
    background: $orange-color;
    border-radius: 8px;
    margin: 0 auto;
}
.done-order__link a {
    display: block;
    font-family: Montserrat;
    font-weight: bold;
    width: 100%;
    height: 46px;
    padding-top: 10px;
}