@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Open+Sans:wght@400;600;700&display=swap");
$black-color: #2c2c2c;
$orange-color: #ff8a50;
$white-color: #fafafa;
$gradient-color: linear-gradient(90deg, #ffc766 0%, #ff5b85 100%);

body {
    background: $white-color;
    overflow-x: hidden;
}

p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
}
.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
}
.containers {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
