.tags {
    border: 1px solid $orange-color;
    box-sizing: border-box;
}
.tags p {
    margin: 15px;
}
.tags__link {
    text-decoration-line: underline;
    color: $orange-color;
}
.tags__link:hover {
    color: $orange-color;
}

.related-articles__link {
    font-weight: bold;
    color: $orange-color;
}
.related-articles__link:hover {
    color: $black-color;
}

.comment {
    margin: 10px 0;
    border-radius: 8px;
    border-left: 5px solid $orange-color;
}

.comment__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: $black-color;
    padding-bottom: 14px;
}

.comment__text {
    font-size: 15px;
    line-height: 140%;
    padding-top: 14px;
}