.book {
    display: block;
    max-width: 250px;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(189, 189, 189, 0.04);
}

.book__container {
    padding: 10px 15px;
}

.book__btn {
    all: unset;
    width: 110px;
    height: 30px;
    border: 2px solid $orange-color;
    box-sizing: border-box;
    border-radius: 8px;
    color: $orange-color;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
    box-sizing: border-box;
}
.book__btn .fa-shopping-basket {
    margin-right: 5px;
}

.book__image {
}

.book__image img {
    width: 100%;
}

.book__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: $black-color;
}

.book__subtitle {
    font-family: Open Sans;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    color: $black-color;
    margin: 7px 0;
}

.book__price {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 110%;
    color: $black-color;
}

.book-w {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(189, 189, 189, 0.04);
}

.book-w__container {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.book-w__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-w__image {
    max-width: 206px;
    width: 100%;
    height: 150px;
    text-align: center;
}

.book-w__image img {
    max-width: 136px;
    width: 100%;
}

.book-w__head {
    width: 100%;
}

.book-w__subtitle {
    color: $black-color;
}

.book-w__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    height: 130px;
}

.book-w__price {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 24px;
    line-height: 160%;
    color: $black-color;
}